# toml formatted, Tom's Obvious, Minimal Language

LogFile = "gollector.log"
Database = "<user>:<pass>@tcp(<host>:<port>)/<dbname>"

[MQTT]
Broker = "tcp://localhost:1883"
Name = "Gollector"
Path = "/mqtt/subscribe/path/#"
QOS = 2